.about-wrapper {
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
  padding-bottom: auto;   
  margin-bottom: 0 !important;
}
body {
  margin: 0 ;
  padding: 0;
}
.container {
  padding-bottom: 0;
  margin-bottom: 0 ;
}


/* TOP HEADING */
.about-subtitle {
  color: #198754;
  font-weight: 600;
}

.about-heading {
  font-weight: 700;
  color: #ff9d00;
}

.lead {
  color: #666;
}

/* PARAGRAPH ALWAYS LEFT */
.about-para {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #333;
  text-align: left !important;
  margin-bottom: 18px;
}

/* IMAGE GAP FIX */
.about-img-col {
  margin-bottom: 35px;
  margin-top: 50px;
}

/* IMAGE */
.about-img {
  width: 500px;
  max-width: 100%;
  height: 300px;
  object-fit: unset !important;
  display: block;
  border-radius: 12px;
}

/* WHY CHOOSE */
.choose-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff9d00;
  text-align: left;
  margin-bottom: 15px;
}

.choose-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.choose-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 1.05rem;
  color: #41515c;
}

/* CTA BOX */
.cta-box {
  background: #0d0808;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.2);
  margin-top: -40px;
}

/* ---------------- SCROLL ANIMATION ---------------- */

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.scroll-animate.active {
  opacity: 1;
  transform: translate(0);
}

/* Directions */
.slide-left {
  transform: translateX(-60px);
}

.slide-right {
  transform: translateX(60px);
}

.slide-up {
  transform: translateY(60px);
}

.slide-left.active,
.slide-right.active,
.slide-up.active 
 { transform: translate(0);
}

/* MOBILE FIX */
@media (max-width: 480px) {
  .transparent-header,
  .navbar {
    height: 65px !important;   /* थोड़ा height बढ़ा देंगे */
  }

  .navbar-brand img {
    height: 45px !important;   /* mobile में perfect fit */
  }

  .navbar-toggler {
    margin-right: 40px !important;  /* icon कटे नहीं */
  }
}



