.blog-card {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  
}

.img-box {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.blog-card:hover img {
  transform: scale(1.1);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.blog-card:hover .overlay {
  opacity: 1;
  
}

.card-title {
  font-size: 17px;
  font-weight: 600;
  
}
.blog-title{
    color:navy;

}
