/* Section */
.blog-section {
  padding: 20px 30px;
  max-width: 1200px;
  margin: 50px auto;
}

.blog-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #0056b3;
  font-weight: bold;
}

/* Grid layout */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.blog-card {
  background: white;
  overflow: hidden;  /* <-- IMPORTANT */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Image */
.blog-card img {
  width: 100%;
  height: 190px;
  object-fit:fill; /* Prevent crop */
  object-position: center;

  padding: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover Image Effect */
.blog-card:hover img {
  transform: scale(1.11); /* Reduced to avoid overflow */
  filter: brightness(1.2);
  
}

/* Title */
.blog-card h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px;
  color: darkblue;
}

/* Responsive */
@media (max-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}.blog-card {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.7s ease forwards;
}