/* General Container */
.contact-container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

/* Headings */
.contact-heading {
  text-align: center;
  color: #10621f;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.contact-subtext {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
  font-size: 12px;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-label{
    font-weight: 500;
    text-align: left;
}
.contact-input,
.contact-textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: #0a2540;
}

/* Button */
.contact-button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #265814;
  color: white;
  font-size: 16px;
  width:max-content;
  cursor: pointer;
  margin-left: 250px;
  transition: background 0.3s ease;
}

.contact-button:hover {
  background-color: #265814;
}

/* Success Message */
.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 600px) {
  .contact-container {
    margin: 30px 20px;
    padding: 20px;
  }

  .contact-heading {
    font-size: 24px;
  }
}

