.home {
  background-color: #cdeac0;
  text-align: center;
  padding: 80px 20px;
}

.home h2 {
  font-size: 32px;
  color: #58c442;
  margin-bottom: 15px;
  font-weight: bold;
}

.home p {
  color: #333;
  max-width: 700px;
  margin: 0 auto 25px;
  font-size: 17px;
}

.home button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.home button:hover {
  background-color: #1b5e20;
}
