.logo-slider-container {
  max-width: 1500px;
  overflow: hidden;
  position: relative;
  padding: 40px 20;
  background-color: #f3f4f6;
  border-radius: 3px;
  margin:  auto;  
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  content: normal;
  text-align: center;
}

.partners-logo-slider {
  display: flex;
  animation: scroll 25s linear infinite;
  gap: 40px;
  align-items: center;
}

.partners-logo-slider img {
  min-width: 150px;
  height: 60px;
  background-color: #f5f7f9;
  object-fit: contain;
}

.logo-group {
  display: flex;
  gap: 40px;
  margin-right: 200px; /* Space between groups of logos */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%); /* Full width of content including gap */
  }
}

/* Optional: Pause animation on hover */
.partners-logo-slider:hover {
  animation-play-state: paused;
}

.partners-logo-slider img {
  min-width: 180px;  /* Increased from 150px */
  height: 100px;      /* Increased from 60px */
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-group {
  display: flex;
  gap: 60px;        /* Increased from 40px for better spacing */
  margin-right: 250px; /* Adjusted space between groups */
}

partners-logo-slider img:hover {
  transform: scale(2.1);
}

.start-investment-btn {
  background-color:#0A2342;
  color: #27046d;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  border:groove;
  border-color:#FFFFFF;
  border-radius: 8px; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.start-investment-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(249, 248, 248, 0.2);
  text-decoration: none;
  background-color:white;
  color:#0A2342;
}


.partner-section {
  width: 100%;
  width: auto;
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color:#0A2342;
  margin-top: 100px;
  padding: 20px; 
  border-radius: 8px;
  height:600px;
}
.partner-section h1 {
  color: #2b8745;
  font-size: 50px;
  margin-bottom: 15px;
  
}
.title{
  color: #E6E8E6;
  font-size: 20px;
  font-weight:normal;
  margin-bottom: 10px;
}

.start-investment-btn{
  margin-top:20px;
}
.partners-logos{
 box-sizing: content-box;
 background-color: #f5f7f9;

}

 