.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: transparent; /* transparent background */
  color: #051e9a;          /* arrow color */
  border: 2px solid #040458;
  padding: 12px 16px;
  border-radius: 10%;
  font-size: 24px;          /* bigger arrow */
  cursor: pointer;
  box-shadow: none;          /* no shadow */
 background-color: #f0f0f0;
  z-index: 1000;
}

.scroll-to-top:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}
