.services {
  text-align: center;
  padding: 70px 20px;
  background-color:whitesmoke
}

.services h3 {
  color: #2e7d32;
  font-size: 26px;
  margin-bottom: 40px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  max-width: 900px;
  margin: 0 auto;
}

.service-card {
  background: #fafafa;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
}

.service-card .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-card h4 {
  color: #333;
  font-weight: 500;
}
