.finance-wrapper {
  padding: 50px 20px;
  text-align: center;
}

.finance-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: royalblue;
  text-transform: uppercase;
}

.finance-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  max-width: 1250px;
  margin: 0 auto;
}

.finance-card {
  width: 100%;
  max-width: 360px;
  cursor: pointer;
  transition: transform 0.3s;
}

.finance-card:hover {
  transform: translateY(-4px);
}
/*CARD BORDER NAVI ON HOVER*/
.finance-card:hover .finance-body {
  border: 2px solid navy !important;
}

.finance-body {
  background: white;
  width: 100%;
  height: 235px;            
  border-radius: 25px;
  border: 2px solid #e6e6e6;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.finance-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 15px;
  font-size: 32px !important;   
}

.finance-content {
  text-align: center;
}

.finance-text {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

.finance-description {
  font-size: 14px;
  color: #555;
  margin-top: 6px;
  line-height: 1.4;
}

.explore-link {
  margin-top: 10px;
  color: royalblue;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  transition: 0.2s;
}

.explore-link:hover {
  color: navy;
}
/* RESPONSIVE*/
@media (max-width: 992px) {
  .finance-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (max-width: 600px) {
  .finance-body {
    height: 220px;
  }
}

}

@media (max-width: 600px) {
  .finance-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .finance-card {
    max-width: 95%;
  }

  .finance-body {
    min-height: 200px;
  }
}
