.review-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(184, 230, 248);
  border-radius: 12px ;
  box-shadow: 0 5px 15px navy;
  
}

.review-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: navy;
}

/* Floating label wrapper */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

/* Inputs and textarea */
input, textarea {
  width: 100%;
  padding: 18px 12px 6px 12px; /* top padding more for label inside */
  font-size: 16px;
  border: 2px solid blue;
  border-radius: 8px;
  outline: none;
  background: transparent;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: navy; /* highlight border on focus */
}

/* Labels inside input */
.input-group label {
  position: absolute;
  top: 18px; /* matches top padding of input */
  left: 12px;
  color: #021d6f;
  pointer-events: none;
  transition: 0.3s;
  background:  rgb(184, 230, 248);
  padding: 0 4px;
}

/* Move label on focus or if input has value */
input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  top: -6px;
  left: 8px;
  font-size: 12px;
  color: darkblue;
  background-color:rgb(184, 230, 248) ;
}

/* Rating */
.rating-input {
  display: flex;
  gap: 6px;
  margin-bottom: 15px;
  margin-left: 150px;
}

/* Button */
.submit-btn {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, rgb(214, 239, 255), royalblue) !important;
  color: navy;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s;
}

.submit-btn:hover {
  transform: scale(1.05);
}

