.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background:#0A2342;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.karma {
  color: #4CAF50;
}

.sub {
  color: #555;
  font-weight: 600;
  font-size: 14px;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #f3efef;
  font-weight: 500;

}

nav a:hover {
  color:rgb(23, 180, 88);
}
  a {
    position: relative;
    color: #3aca43;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  /* Arrow (::after) */
  a::after {
    content: ' ';
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s ease;
  }

  
  a:hover {
    color: #c9d7e5;
    transform: translateY(-3px); 
  }

  a:hover::before {
    transform: scaleX(1);
    transform-origin: left; 
  }

  a:hover::after {
    transform: translateX(5px);
  }

  